<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body bgcolor="aqua">
<form action="register" method="post">
    {% csrf_token %}
    <center>
        <input type="text" name="first_name" placeholder="First Name"><br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="text" name="username" placeholder="UserName"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input type="password" name="password2" placeholder="Conform Password"><br>
        <input type="submit">
    </center>
</form>
<div>
<center>
    {% for message in messages %}
    <h3> {{ message }} </h3>
    {% endfor %}
</center>

</div>

</body>
</html>